@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h5>
        Welcome to My Food planner.
    </h5>
    <p>Please choose for how many days you would like to get recipes for.<br/> Max number is 7.<br/> It is a weekly planner after all ;)</p>
    <p>Click <a href="Recipies">Here</a> to look at a full weeks worth of randomly selected dinner recipies. </p>
    <p>// ToDo: Create function for user input and send it to the server, that way you can get 1-7 days worth of plans. </p>


</div>

